# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env

# Generated runtime data
backend_fastapi/uploads/
react_frontend/dist/
